<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite color select webpage</title>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function selectedColor(color_name) {
        if($("#user_name").val().length == 0) {
            alert("이름을 입력하세요");
        } else {
            var url = 'http://localhost:8080/api/select?';
            $.get(url);
        }
    }
</script>
<body>
  <div style="width:100%; height:50%;">
      <h1>ㅇㅣ름을 입력하세요.</h1>
      <label for="user_name">Name: </label>
      <input type="text" id="user_name">
      <h1>마음에 드는 색상을 고르세요.</h1>
      <ul>
          <li><button type="button" onclick="selectedColor('red')">Red</button> </li>
          <li><button type="button" onclick="selectedColor('yellow')">Yellow</button> </li>
          <li><button type="button" onclick="selectedColor('green')">Green</button> </li>
          <li><button type="button" onclick="selectedColor('blue')">Blue</button> </li>
      </ul>
  </div>
</body>
</html>